 .landscape-warning {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background: rgba(0, 0, 0, 0.8);
     color: white;
     font-size: 24px;
     justify-content: center;
     align-items: center;
     text-align: center;
     /* z-index: 1000; */
 }

 .landscape-warning.visible {
     display: flex;
 }