@font-face {
    font-family: 'LuckiestGuy';
    src: url("img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf");
}

body {
    margin: 0;
    font-family: 'LuckiestGuy', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('img/3. Background/Layers/5. Water/D2.png') center;
    background-repeat: repeat-y;
    background-image: linear-gradient(to right, transparent, transparent), url('img/3. Background/Layers/5. Water/D2.png');
    background-repeat: repeat;
    background-position: top center, top right;
    background-size: auto 100%, auto 100%;
    background-origin: padding-box;
    background-attachment: fixed;
    color: rgba(73, 249, 255, 0.793);
    letter-spacing: 2px;
    text-shadow: 0px 1px 3px rgb(87, 0, 124);
    user-select: none;
    overflow: hidden;
}

canvas {
    background-color: rgba(0, 0, 0, 0.512);

}

.start-section {
    width: 920px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.408);
    background-image: url('img/shark-beach.webp');
    background-position: center;
    background-size: cover;
}

.btn-container {
    width: 920px;
    height: 200px;
    background-color: rgba(240, 248, 255, 0.114);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.start-container {
    width: 300px;
    height: 100px;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-btn {
    width: 250px;
    height: 80px;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media only screen and (max-height: 620px) {
    h1 {
        display: none;
    }

    body {
        height: 100vh;
    }
}

@media only screen and (max-width: 920px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
        font-size: 1em;
    }

    .start-section {
        width: 100vw;
    }
}