body {
    margin: 0;
    font-family: 'LuckiestGuy', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('img/3. Background/Layers/5. Water/D2.png') center;
    background-repeat: repeat-y;
    background-repeat: repeat;
    background-position: top center, top right;
    background-size: auto 100%, auto 100%;
    background-origin: padding-box;
    background-attachment: fixed;
    color: rgba(73, 249, 255, 0.793);
    letter-spacing: 2px;
    text-shadow: 0px 1px 3px rgb(87, 0, 124);
    user-select: none;
    overflow: hidden;
}

canvas {
    /* background-color: rgba(0, 0, 0, 0.512); */
}

.start-section {
    width: 920px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.408);
    background-image: url('img/shark-beach.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-container {
    width: 920px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start-container {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.non-draggable {
    -webkit-user-drag: none;
    /* Chrome, Safari, Opera */
    -moz-user-drag: none;
    /* Old versions of Firefox */
    -o-user-drag: none;
}

.start-btn {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    width: 250px;
    height: 80px;
    cursor: pointer;
    user-select: none;
    margin-top: 280px;
    transition: transform 0.2s ease-in-out;
}

.start-btn:hover {
    transform: scale(1.1);
}

.instruction {
    width: 100%;
    height: 100%;
}

.impressum-link {
    color: rgba(206, 73, 255, 0.793);
    text-shadow: 0px 1px 3px rgb(87, 0, 124);
    text-decoration: none;
}

.impressum-link:hover {
    color: rgba(186, 39, 239, 0.793);
    text-shadow: 0px 1px 3px rgb(87, 0, 124);

}

.gameover-section {
    width: 920px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.408);
    background-image: url('img/shark-beach.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media only screen and (max-height: 620px) {
    h1 {
        display: none;
    }

    body {
        height: 100vh;
    }
}

@media only screen and (max-height: 960px) {
    .btn-container {
        justify-content: flex-start;
        height: 100px;
    }
}

@media only screen and (max-height: 1200px) {
    .btn-container {
        justify-content: flex-start;
        height: 500px;
    }
}

@media only screen and (max-width: 920px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
        font-size: 1em;
    }

    .start-section {
        width: 100vw;
    }
}